@import 'leaflet/dist/leaflet.css';

.search-event{
    padding: 20px;
    max-width: 500px;
    margin: auto;
    .search-date-from{
        margin-bottom: 15px;
    }
    .search-date-to{
        margin-bottom: 15px;
    }
    .categories{
        margin-bottom: 15px;
    }
    .filter{
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        &:hover{
            background-color: #0056b3;
        }
    }
}

.handle-address-select{
    border: 1px solid #ccc;
    max-height: 200px;
    overflow: auto;
}

.suggestion-list-activity{
    border: 1px solid #ccc;
    max-height: '200px';
    overflow: auto;
    .handle-address-select{
        cursor: pointer;
        padding: 5px;
    }
}